doctype html
head
    block title
        title #{animal} Data
    link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css')

body
    include ../navbar.pug                 
    block container
        p No elements parent in block container