nav.navbar
    .navbar-brand
        a.navbar-item.is-size-4(href="/") Animal Fact
    .navbar-menu
        .navbar-start
            a.navbar-item(href="/animals") Animals
            a.navbar-item TnC
        .navbar-end
            block navend
                a.navbar-item Some link